@page "/myCollabs"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using YoghurtBank.Shared
@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager NavMan
@inject AuthenticationStateProvider auth

<PageTitle>View My CollaborationRequest</PageTitle>
<h1>View your Collaboration Request</h1>
<h3>Press the button below!</h3>

<!--<div>
    <InputNumber id="UserId" @bind-Value="users.Email" class="form-control" />

    <button type="submit" @onclick="GetEmail" class="btn btn-success">Collaboration Request</button>
</div>-->

@code {

    private UserDetailsDTO[]? users;
    private AuthenticationState authState;

    protected override async Task OnInitializedAsync()
    {
        authState = await auth.GetAuthenticationStateAsync();
        //users = await Http.GetFromJsonAsync<UserDetailsDTO[]>($"https://localhost:7194/api/user");

        var name = "";
        var mail = "";
        var claims = auth.GetAuthenticationStateAsync().Result.User.Claims; 
        foreach(var claim in claims)
        {
            //navn
            //email
            if(claim.Type.Equals("name")) name = claim.Value;
            if(claim.Type.Equals("preferred_username")) mail = claim.Value;
        }

        //var name = authState.User.Claims.Where(c => c.Type.Equals("name")).Select(c => c.Value); 
        //var mail = authState.User.Claims.Where(c => c.Type.Equals("preferred_username")).Select(c => c.Value);
        Console.WriteLine(name);
        Console.WriteLine(mail);
        FindOrCreate("HenningG@gmail.com");
    }

    private void GetEmail() {
        Console.WriteLine(authState.User.Identity.Name);
    }

    
    private async Task<UserDetailsDTO> FindOrCreate(string email)
    {
        var user = await Http.GetFromJsonAsync<UserDetailsDTO>($"https://localhost:7095/api/user/mail/{email}");
        if(user != null)
        {
            //sæt et "requests" felt til at være user.requests 
            Console.WriteLine(user.UserName);
            Console.WriteLine(user.Email);
            return user; 
        }
        else
        {
            return null;
            //create brugeren :) 
        }

    }

}